.Button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Button:hover,
.Button:focus {
  outline: none;
}

.Button + div {
  background-color: var(--color-pink);
  height: 4px;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transform: scaleX(.5);
  transition-duration: .25s;
  transition-property: transform;
  width: 50px;
}

.Button:hover + div,
.Button:focus + div {
  opacity: 1;
  transform: scaleX(1);
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Danger {
  color: #944317;
}
