.Loader {
  align-items: center;
  clear: both;
  display: flex;
  height: 106px;
  justify-content: center;
}

.Loader svg {
  animation: spin 1s infinite ease-in-out;
  height: 1em;
  width: 1em;
  fill: var(--color-pink);
  font-size: 1.5rem;
}

@keyframes spin {
  100% {
    transform: rotateY(180deg);
  }
}
